.toolbar {
    border-radius: 6px;
    gap: 0.5rem;
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    margin: 0px !important;
}

.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.responsive-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

::ng-deep .p-inputwrapper .p-dropdown {
    width: 100% !important;
}

.sold {
    background-color: #FFF4BD;
}