<div class="grid">
    <div class="col-12">
        <div class="toolbar grid justify-content-between">
            <div class="col-12 md:col-6 flex gap-2">
                <span class="p-input-icon-left flex-grow-1">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        class="w-full"
                        placeholder="Find a brand"
                        [(ngModel)]="searchTerm"
                        (input)="filterBrands()"
                    />
                </span>
                
            </div>
            <div class="col-12 md:col-4 flex justify-content-end gap-2">
                <p-button
                    icon="pi pi-plus"
                    label="Add"
                    severity="success"
                    (click)="isAddModalVisible = true"
                />
            </div>
        </div>
    </div>

    @for (brand of brands; track brand.id) {
        <div class="col-12 sm:col-6 md:col-3 lg:col-2">
            <div class="card">
                <div class="md:h-9rem relative image-container">
                    <img
                        class="block xl:block mx-auto border-round w-full responsive-image"
                        [src]="brand.imageUrl"
                        [alt]="brand.name"
                    />
                </div>
                <p class="text-center pt-4">{{ brand.name }}</p>
            </div>
        </div>
    }
</div>